.btn {
    border: 2px solid #1a1a1a;

    padding: 10px 15px;
    border-radius: 5px;
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px 0px #1a1a1a, 
                3px 3px 0px #1a1a1a, 
                2px 2px 0px #1a1a1a,
                1px 1px 0px #1a1a1a;
    transition: all 0.1s;
    background: aliceblue;
}

.btn div {
    background-image: url(images/change-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40px;
    width: 50px;
}

.btn:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 0px #1a1a1a;
}