body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(''); /* Leave this empty initially */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
 }
 
header {
    color: #FFF;
    text-align: center;
    min-height: 300px;
    text-align: center;
    position: fixed;
    width: 100%;
}

header h1 {
    font-size: 5em;
    text-shadow: rgba(0,0,0,0.9) 0px 0px 12px;
}

.content {
    position: fixed;
    bottom: 10%;
    justify-content: center;
    display: flex;
    width: 100%;
}
.content button {
    margin: 5px;
}


 /* Add a new CSS class for controlling the background image */
 .background-image {
    background-image: url(''); /* Leave this empty initially */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh; /* Ensure the background covers the entire viewport height */
 }

audio {
    display: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
    body {
        font-size: 16px; /* Adjust font size for better readability on mobile devices */
    }
 
    header h1{
        margin-top: 100px;
        font-size: 2rem; /* Increase header font size for better visibility */
    }
 
    main {
        padding: 1rem; /* Add padding to main content for spacing */
    }
 
    .content {
        text-align: center;
    }
 
    .image-container {
        margin: 0; /* Remove margin to save space */
    }

 }